*{
    margin: 0;
    padding: 0;
    
}
.main1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(124deg, rgba(143,209,200,1) 0%, rgba(243,247,245,1) 49%, rgba(143,209,200,1) 100%);
}
.container1{
    height: 33vw;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(124deg, rgb(244, 248, 246) 0%, rgba(143,209,200,1) 90%);
    margin-left: 20vw;
    position: absolute;
    margin-top: 9vw;
}
body {
    font-family: "Fjalla One", sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.forms-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30vw;
    margin-top: 60px;
    font-size: 19px;
    
}
.forget{
    font-size: 13px;
    color: rgb(0, 71, 94);
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    font-family: "Kanit", sans-serif;
}

label {
    margin-top: 10px;
    width: 240px;
    
}
input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
    height: 24px;
}

button {
    padding: 10px;
    margin-top: 10px;
   
    background: rgb(89,229,237);
    background: linear-gradient(90deg, rgba(89,229,237,1) 0%, rgba(92,161,203,1) 46%, rgba(130,223,175,1) 100%);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
   background: linear-gradient(90deg, rgba(79,194,200,1) 0%, rgba(75,135,172,1) 49%, rgba(99,172,134,1) 100%);
}
.imag{
    height:23vw;
    margin-left: 39vw;
    margin-top: -20vw;

}
.regi{
    margin-top: -50px;
    font-size: 16px;
}
.regi h2{
   font-size: 26px;
}
