$purple: #1d1f4b;
$yellow: #f7c12a;
$blue: #6775f0;
$red: #fa5486;
$cover: #2b2d5c;

body {
  background: #303373;
  font-family: 'Inconsolata', monospace;
}
.btn {
  display: block;
  width: 150px;
  height: 40px;
  line-height:40px;
  border: 0;
  outline: 0;
  background: #2f3163;
  border-radius: 15px;
  margin: 30px auto;
  color: #fff;
  cursor: pointer;
  transition:all .5s ease-in-out;
  //box-shadow:2px 22px 8px -18px rgba(0, 0, 0, 0.5);
  
  &:hover {
    background-color:#FFF;
    color:#2f3163;
    transform:translate(0%, -3px);
    box-shadow:2px 22px 8px -18px rgba(0, 0, 0, 0.5);
  }
 }


.mobile-wrapper {
  width: 300px;
  height: 500px;
  background: $cover;
  box-shadow: 0 0 10px 8px #1e1f46;
  //border:1px solid $yellow;
  border-radius: 20px;
  margin: 50px auto;
  position: relative;
  z-index: 9;
  overflow: hidden;
  .mobile-content {
    width: 90%;
    height: 90%;
    margin: 30px 14px;
    border: 1px solid #24264e;
    display: flex;
    flex-direction:column;
    text-align: center;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    .mobile-header {
      border-bottom: 1.5px solid #313260;
      h4 {
        color: #FFF;
        font-size: 14px;
        letter-spacing:1px;
      }
    }
    .form__content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      //animation:move 1.5s cubic-bezier(0.52,-0.15, 1, 0.18);
      h2 {
        color: #fff;
        font-size: 22px;
        margin: 20px 0;
      }
      form {
        width: 90%;
        height: 70%;
        margin: 20px auto;
        //text-align: center;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        .input__row {
          display:flex;
          flex-direction:column;
          justify-content: space-between;
          align-items:flex-start;
          height:60px;
          margin-bottom: 1rem;
          .email,
          .password {
           // display: block;
            color: #6b6ea8;
            //text-align: left;
            //margin: 30px 15px 10px;
          }
          input {
            width: 90%;
            height: 30px;
            line-height: 20px;
            border-radius: 10px;
            outline: none;
            border: 0;
            background: $purple;
            margin-right: 5px;
            text-indent: 5px;
            &:focus {
              color: $yellow;
            }
          }
        }
        span {
          color: #6c6fa9;
          letter-spacing: 0.5px;
          a {
            text-decoration: none;
            color: #7376b1;
            border-bottom: 1px solid #7376b1;
          }
        }
      }
    }
    .welcome__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      align-items:center;
      &--header {
        h2 {
          color:#FFF;
          letter-spacing:1px;
        }
      }
      &--avatar {
        width:130px;
        height:145px;
        position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background: #2f3160;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
          }
        img {
          max-width:100%;
          border-radius:50%;
        }
      }
    }
  }
  .yellow-circle,
  .purple-circle,
  .red-circle,
  .blue-circle,
  .yellow1-circle {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    animation: all 10s linear infinite;
  }

  .yellow-circle {
    top: -30px;
    left: 90px;
    width: 25px;
    height: 25px;
    background: $yellow;
    background: linear-gradient(90deg, #f8c633, #f8c835);
  }
  .purple-circle {
    top: 100px;
    left: 0;
    width: 35px;
    height: 35px;
    background: $purple;
  }
  .red-circle {
    top: 230px;
    left: 180px;
    width: 40px;
    height: 40px;
    background: $red;
    background: linear-gradient(120deg, #fa558a, #f73839);
  }
  .blue-circle {
    top: 350px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: $blue;
    background: linear-gradient(90deg, #4f5deb, #7887f4);
  }
  .yellow1-circle {
    top: 122px;
    left: 55px;
    width: 23px;
    height: 23px;
    background: $yellow;
    background: linear-gradient(90deg, #f8c633, #f8c835);
  }
}

// @keyframes move {
//   to {transform:scale(0); opacity:0}
// }
